@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", system-ui, sans-serif;
    background: #FFFFFF;
    background-image: url('./assets/images/hero-image-2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s;
  }
  
  .whatsapp-icon:hover {
    transform: scale(1.1);
  }
  
  .whatsapp-icon img {
    width: 35px;
    height: 35px;
  }